[user]
	email = f.slashdev@gmail.com
	name = fedeDev
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = meld
[alias]
	wdiff = diff --color-words
	lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  lfc = log --name-status HEAD^..HEAD
[color]
	ui = true
[push]
	default = simple
[core]
	askpass = git-gui--askpass
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
