vim/tmp/*
!vim/tmp/.gitignore
vim/bundle/*
!vim/bundle/vundle
config/google*
config/pulse*
*~
*.pyo
*.pyc
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/ipython/*
config/gtk-2.0/*
