mutt/cache/headers
vim/tmp/*
!vim/tmp/.gitignore
vim/bundle/*
!vim/bundle/vundle
!vim/bundle/vim-airline
config/google*
config/pulse*
*~
*.pyo
*.pyc
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/ipython/*
config/Mendeley*
config/ubuntu*
config/xfce4*
config/dconf*
config/compiz*
config/VCG*
config/ros.org*
config/Trolltech*
mutt/temp/*
mutt/alias
config/gtk-2.0/*
