mutt/cache/headers
vim/tmp/*
!vim/tmp/.gitignore
vim/bundle/*
!vim/bundle/vundle
!vim/bundle/vim-airline
config/google*
config/pulse*
*~
*.pyo
*.pyc
config/compiz*
config/dconf*
config/enchant*
config/enchant*
config/gtk-2.0/*
config/inkscape*
config/ipython/*
config/Mendeley*
config/menus*
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
config/ros.org*
config/Skype*
config/Thunar*
config/Trolltech*
config/ubuntu*
config/VCG*
config/xfce4*
mutt/temp/*
home/.gnupg/lock

