[user]
	email = f.slashdev@gmail.com
	name = fedeDev
[diff]
	tool = vimdiff
[difftool]
	prompt = false
# [merge]
#   tool = splice
# [mergetool "splice"]
#   cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
#   trustExitCode = true

[alias]
	wdiff = diff --color-words
	lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	showtool = !sh -c '~/bin/git-diffall $1~ $1' -
	diffcool = !sh -c '~/bin/git-diffall $@' -
[color]
	ui = true
[merge]
	tool = meld
