#+--- tmux-prefix-highlight ---+
set -g @prefix_highlight_fg black
set -g @prefix_highlight_bg colour2
set -g @prefix_highlight_copy_mode_attr "fg=black,bg=colour11"

set -g status-interval 2
set -g status on

set -g status-justify centre

set -g status-bg black
set -g status-fg white
set -g status-attr none

set -g pane-border-bg default
set -g pane-border-fg black
set -g pane-active-border-bg default
set -g pane-active-border-fg colour4

setw -g clock-mode-colour cyan

set -g message-fg cyan
set -g message-bg brightblack
set -g message-command-fg cyan
set -g message-command-bg brightblack

set -g status-left-length 50
# Prints whether this is an ssh session or not.
set -g status-left "#[fg=black,bg=cyan,bold] #S #[fg=black,bg=blue,nobold] #(bash -c '[[ `echo $SSH_CLIENT | wc -w` -ne 0  ]] && echo \"ssh: \"$(whoami)@$(hostname) || whoami') #[fg=white,bg=brightblack,noitalics,nobold] ↑ #{uptime} #{prefix_highlight}"

set -g status-right-length 150
set -g status-right "#[fg=white,bg=brightblack] #($TMUX_PLUGIN_MANAGER_PATH/tmux-mem-cpu-load/tmux-mem-cpu-load -i 2 -m 1 -a 0 -g 0) #[fg=black,bg=blue,bold,noitalics,nounderscore] %l:%M %p #[fg=black,bg=blue,nobold,noitalics,nounderscore] #[fg=black,bg=cyan,bold] #(date +'%A, %B %d') "

set -g window-status-format " #[fg=white,bg=brightblack] #I: #[fg=white,bg=brightblack]#W#F "
set -g window-status-current-format " #[fg=black,bg=cyan] #I:#[fg=black,bg=cyan,nobold,noitalics,nounderscore] #[fg=black,bg=cyan]#W#F "
set -g window-status-separator ""
